
.table-container {
  width: 67.67%;
  margin-left: 10%;
  border: 3px solid #000;
  border-radius: 15px;
  border-collapse: collapse;
  padding: 5px;
}




.cell {
  width: 1.2vw; /* Kích thước cố định là 20x20 */
  height: 1.2vw;
  position: relative;
  border: 1px solid #bdbdbd94;
}

.circle {
  width: 80%; /* 100% của ô dữ liệu */
  height: 80%; /* 100% của ô dữ liệu */
  border-radius: 50%; /* Tạo hình tròn */
  border: 3px solid; 
  background-color: rgba(255, 255, 255, 0);
}

.diagonal {
  position: absolute;
  width: 90%;
  height: 3px;
  background-color: black; /* Màu đen cho đường thẳng */
  transform: rotate(45deg);
  top: 45%;
  left: 10%;
}

.play-button {
  border-color: red;
  display: flex;
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  border: 10px solid #000000; 
  font-size: 25px ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button-container {
  position: absolute;
  bottom: 50px; /* Đặt ở phía dưới cùng */
  left: 0; /* Đặt ở phía trái cùng */
  right: 0; /* Đặt ở phía phải cùng */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.one-scoreboard-container {
  width: 38.67%;
  height: 30%;
  margin-left: 10%;
  
  border: 3px solid #000;
  border-radius: 15px;
  padding: 5px;
}


.linechart-container {
  width: 28.2%;
  border: 3px solid #000;
  margin-right: 10%;
  margin-left: 10px;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #ffcccc46, #ccccff21, #d4fdd41e, #ffffcc6b);
}

.center-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}


